fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlmodel==0.0.22
pydantic==2.10.3
pydantic-settings==2.7.0
python-multipart==0.0.20
aiofiles==24.1.0
pillow==11.0.0
websockets==14.1
paramiko==3.5.0
pywebview==5.4
pexpect==4.9.0
keyring==25.5.0
opencv-python-headless==4.13.0.92
ultralytics==8.1.0
yolov5
asyncssh>=2.14.0
